@font-face {
	font-family: "Mona Sans";
	src: url("../../assets/fonts/Mona-Sans.woff2") format("woff2 supports variations"), url("../../assets/fonts/Mona-Sans.woff2") format("woff2-variations");
	font-weight: 200 900;
	font-stretch: 75% 125%;
	unicode-range: U+0000-00FF, U+0100-024F;
}
@font-face {
    font-family: "Rubik";
    src: url("../../assets/fonts/Rubik.ttf") format("truetype");
    font-weight: 200 900;
    font-stretch: 75% 125%;
	unicode-range: U+0000-00FF, U+0100-024F;
}
@font-face {
    font-family: "IBM Plex Sans";
    src: url("../../assets/fonts/IBMPlexSans.ttf") format("truetype");
    font-weight: 200 900;
    font-stretch: 75% 125%;
}
body {
	font-family: "Rubik", "IBM Plex Sans", "Mona Sans", sans-serif;
    margin: 0;
    color: black;
    background-color: white;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#wrapper {
    margin: 125px 25px 125px 25px;
    display: flex;
    flex-direction: column;
    max-width: 600px;
}
#wiki-wrapper {
    margin: 125px 25px 0px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.big-title {
    font-size: 35px;
    font-weight: 800;
    font-stretch: ultra-expanded;
    align-self: center;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.small-paragraph {
    font-size: 15px;
    font-weight: 400;
    margin: 10px 0 10px 0;
}
.paragraph {
    font-size: 20px;
    font-weight: 400;
    margin: 10px 0 10px 0;
    max-width: 1000px;
}
.center-text {
    text-align: center;
}
.greyed {
    color: #bababa;
}
.slim {
    font-weight: 300;
}
.extra-slim {
    font-weight: 200;
}
.gradient-text {
    text-shadow: 0px 3px 0px #000;
}

#product-container {
	display: none;
    padding: 20px;
    background-color: #f1f1f1;
    border: 1px solid grey;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.product {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid #000000;
    margin-bottom: 25px;
    padding: 10px;
    background-color: #ffffff;
    border-bottom-width: 5px;
    border-right-width: 3px;
    color: black;
}
.product .container {
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.product .right {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.product .image {
    border-radius: 5px;
    border: 3px solid #000000;
    border-bottom-width: 6px;
    border-right-width: 4px;
}
.product .title {
    font-size: 20px;
    font-weight: 700;
    font-stretch: ultra-expanded;
    padding: 15px;
    border-bottom: 3px solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3px;
}
.product .description {
    font-weight: 600;
    font-style: italic;
}
.product .action-btn {
    background-color: white;
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    font-weight: 800;
    font-stretch: extra-expanded;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    border-bottom-width: 5px;
    border-right-width: 3px;
}
.product .disclaimer {
	border-left: 2px solid #693f42;
    padding-left: 10px;
    color: #3b2527;
    padding: 10px;
    font-weight: 400;
}
.product .discount {
    color: #d95864;
    text-shadow: 0px 2px 0px #751414;
}
.product .originalPrice {
	text-decoration: line-through;
    font-weight: 300;
}
.product .price {
	font-weight: 600;
}

.get-deal-btn {
    background-color: white;
    height: fit-content;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    border: 2px solid rgb(66 127 59);
    border-bottom-width: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #2799209e;
    display: flex;
    justify-content: center;
}

#wiki-section {
    margin: 20px;
    text-align: center;
}
.animation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 100%;
    max-width: 1200px;
    overflow: hidden;
}
#lottie-animation {
    width: 1000px;
    height: 600px;
}
.data-transfer {
    margin-top: 20px;
    font-size: 18px;
    opacity: 0;
    animation: fadeIn 1s forwards;
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
.markdown-section blockquote, .markdown-section code {
    color: #4f6881;
}
.markdown-section a {
    color: rgb(26 114 165);
}
.markdown-section em {
    color: #34495e;
}
.content {
    max-width: 1100px;
}
h1#acas-v2 {
    margin: 10px;
    font-stretch: expanded;
    align-items: flex-start;
    font-stretch: ultra-expanded;
    font-weight: 800;
    font-family: "Mona Sans";
}
h1 span {
    font-stretch: expanded;
    align-items: flex-start;
    font-stretch: ultra-expanded;
    font-weight: 800;
    font-family: "Mona Sans";
}
img {
    border-radius: 7px;
}

@media screen and (max-width: 768px) {
    .content {
        padding-top: 80px !important;
    }
}