:root {
    --settings-input-main-bg-color: rgb(255 255 255 / 5%);
    --settings-input-border-width: 0 0 4px 0;
    --settings-input-border-style: solid;
    --settings-input-border-color: rgb(255 255 255 / 5%);
    --settings-input-border-radius: 5px;
    --settings-input-font-size: 18px;
}
input:focus {
    outline:none!important;
}
.custom-input {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    grid-gap: 10px;
    justify-content: flex-end;
}
.input-title {
    color: rgb(255 255 255 / 50%);
    font-size: 17px;
    pointer-events: none;
    text-transform: capitalize;
    font-weight: 300;
    margin-bottom: 2.5px;
}
.input-subtitle {
    font-size: 12px;
    color: rgb(255 255 255 / 25%);
    font-weight: 300;
}
.input-subtitle a {
    color: rgb(255 255 255 / 30%);
}
.disabled-input {
    pointer-events: none !important;
    opacity: 0.25 !important;
}
/* Textarea */
.textfield-input input {
    width: 50px;
    height: fit-content;
    padding: 10px;
    border-radius: var(--settings-input-border-radius);
    background-color: var(--settings-input-main-bg-color);
    color: rgb(255 255 255 / 75%);
    font-size: var(--settings-input-font-size);
    font-weight: 500;
    font-family: unset;
    border-width: var(--settings-input-border-width);
    border-style: var(--settings-input-border-style);
    border-color: var(--settings-input-border-color);
}
/* Checkbox */
.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: var(--settings-input-border-radius);
    background-color: var(--settings-input-main-bg-color);
    cursor: pointer;
    color: transparent;
    border-width: var(--settings-input-border-width);
    border-style: var(--settings-input-border-style);
    border-color: var(--settings-input-border-color);
}
.checkbox-container input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
}
.checkbox-fill {
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background-color: rgb(0 0 0 / 10%);
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: rgb(255 255 255 / 80%);
    font-weight: 900;
    opacity: 0.02;
    pointer-events: none;
}
.checkbox-container input[type="checkbox"]:checked + .checkbox-fill {
    opacity: 1;
}
.checkbox-container:hover .checkbox-fill {
    opacity: 0.1;
}
/* Color */
.color-input input {
    width: 34px;
    height: 34px;
    border-radius: 7px;
    background-color: var(--settings-input-main-bg-color);
    padding: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-weight: 500;
    font-family: unset;
    border-width: var(--settings-input-border-width);
    border-style: var(--settings-input-border-style);
    border-color: var(--settings-input-border-color);
    cursor: pointer;
}
.color-input input::-moz-color-swatch {
    border: none;
    border-radius: var(--settings-input-border-radius);
    padding: 0;
}
.color-input input::-webkit-color-swatch-wrapper {
    padding: 0;
}
.color-input input::-webkit-color-swatch {
    border: none;
    border-radius: var(--settings-input-border-radius);
    padding: 0;
}
/* Dropdown */
.dropdown-input input {
    width: 90px;
    height: fit-content;
    border-radius: var(--settings-input-border-radius);
    background-color: rgb(0 0 0 / 0%);
    color: rgb(255 255 255 / 75%);
    font-size: var(--settings-input-font-size);
    border: none;
    padding: 10px;
    text-transform: capitalize;
    font-weight: 500;
    font-family: unset;
}
.dropdown-input .dropdown-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    border-radius: var(--settings-input-border-radius);
    background-color: var(--settings-input-main-bg-color);
    color: rgb(255 255 255 / 75%);
    font-size: var(--settings-input-font-size);
    position: relative;
    border-width: var(--settings-input-border-width);
    border-style: var(--settings-input-border-style);
    border-color: var(--settings-input-border-color);
}
.dropdown-input .dropdown-icon {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    padding: 6px 10px 10px 0;
    cursor: pointer;
}
.dropdown-input .dropdown-icon::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-left: 2px solid gray;
    border-bottom: 2px solid gray;
    transform: rotate(-45deg);
    margin-top: 2px;
}
.dropdown-input .dropdown-list-container {
    position: absolute;
    width: fit-content;
    min-width: 100%;
    max-height: 200px;
    overflow-y: auto;
    color: rgb(255 255 255 / 70%);
    background-color: rgb(25 25 25);
    border-radius: 4px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 3;
    top: 100%;
    display: none;
    max-height: 150px;
}
.dropdown-input .dropdown-item {
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}
.dropdown-input .dropdown-none-item {
    padding: 10px;
    font-size: 18px;
}
.dropdown-input .dropdown-item:hover {
    background-color: rgb(255 255 255 / 20%);
}
.dropdown-input-container:hover .dropdown-list-container {
    display: block;
}

.acas-fancy-button {
    border-width: 2px !important;
    border-bottom-width: 5px !important;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.acas-fancy-button:hover {
    
}
.acas-fancy-button:active {
    border-width: 2px !important;
    transform: translateY(3px) !important;
}