:root {
    --settings-input-main-bg-color: rgb(255 255 255 / 5%);
    --settings-input-border-width: 0 0 0.4vh 0;
    --settings-input-border-style: solid;
    --settings-input-border-color: rgb(255 255 255 / 5%);
    --settings-input-border-radius: 0.5vh;
    --settings-input-font-size: 1.8vh;
}


input:focus { outline:none!important; }

.custom-input {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    grid-gap: 1vh;
    justify-content: flex-end;
}
.input-title {
    color: rgb(255 255 255 / 50%);
    font-size: 1.7vh;
    pointer-events: none;
    text-transform: capitalize;
    font-weight: 300;
    margin-bottom: 0.25vh;
}
.input-subtitle {
    font-size: 1.2vh;
    color: rgb(255 255 255 / 25%);
    font-weight: 300;
}
.input-subtitle a {
    color: rgb(255 255 255 / 30%);
}
.disabled-input {
    pointer-events: none !important;
    opacity: 0.25 !important;
}

/* Textarea */
.textfield-input input {
    width: 5vh;
    height: fit-content;
    padding: 1vh;
    border-radius: var(--settings-input-border-radius);
    background-color: var(--settings-input-main-bg-color);
    color: rgb(255 255 255 / 75%);
    font-size: var(--settings-input-font-size);
    font-weight: 500;
    font-family: unset;
    border-width: var(--settings-input-border-width);
    border-style: var(--settings-input-border-style);
    border-color: var(--settings-input-border-color);
}

/* Checkbox */
.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 4vh;
    height: 4vh;
    border-radius: var(--settings-input-border-radius);
    background-color: var(--settings-input-main-bg-color);
    cursor: pointer;
    color: transparent;
    border-width: var(--settings-input-border-width);
    border-style: var(--settings-input-border-style);
    border-color: var(--settings-input-border-color);
}
.checkbox-container input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
}
.checkbox-fill {
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background-color: rgb(0 0 0 / 10%);
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 2.5vh;
    color: rgb(255 255 255 / 80%);
    font-weight: 900;
    opacity: 0.02;
    pointer-events: none;
}
.checkbox-container input[type="checkbox"]:checked + .checkbox-fill {
    opacity: 1;
}
.checkbox-container:hover .checkbox-fill {
    opacity: 0.1;
}

/* Color */
.color-input input {
    width: 3.4vh;
    height: 3.4vh;
    border-radius: 50%;
    background-color: var(--settings-input-main-bg-color);
    padding: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-weight: 500;
    font-family: unset;
    border-width: var(--settings-input-border-width);
    border-style: var(--settings-input-border-style);
    border-color: var(--settings-input-border-color);
}
.color-input input::-moz-color-swatch {
    border: none;
    border-radius: 50%;
    padding: 0;
}
.color-input input::-webkit-color-swatch-wrapper {
    padding: 0;
}
.color-input input::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    padding: 0;
}

/* Dropdown */
.dropdown-input input {
    width: 9vh;
    height: fit-content;
    border-radius: var(--settings-input-border-radius);
    background-color: rgb(0 0 0 / 0%);
    color: rgb(255 255 255 / 75%);
    font-size: var(--settings-input-font-size);
    border: none;
    padding: 1vh;
    text-transform: capitalize;
    font-weight: 500;
    font-family: unset;
}
.dropdown-input .dropdown-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    border-radius: var(--settings-input-border-radius);
    background-color: var(--settings-input-main-bg-color);
    color: rgb(255 255 255 / 75%);
    font-size: var(--settings-input-font-size);
    position: relative;
    border-width: var(--settings-input-border-width);
    border-style: var(--settings-input-border-style);
    border-color: var(--settings-input-border-color);
}
.dropdown-input .dropdown-icon {
    width: 2vh;
    height: 2vh;
    display: flex;
    justify-content: center;
    padding: 0.6vh 1vh 1vh 0;
    cursor: pointer;
}
.dropdown-input .dropdown-icon::after {
    content: "";
    display: inline-block;
    width: 1vh;
    height: 1vh;
    border-left: 0.2vh solid gray;
    border-bottom: 0.2vh solid gray;
    transform: rotate(-45deg);
    margin-top: 0.2vh;
}
.dropdown-input .dropdown-list-container {
    position: absolute;
    width: fit-content;
    min-width: 100%;
    max-height: 20vh;
    overflow-y: auto;
    color: rgb(255 255 255 / 70%);
    background-color: rgb(25 25 25);
    border-radius: 0.4vh;
    box-shadow: 0 0.8vh 1.6vh 0 rgba(0,0,0,0.2);
    z-index: 3;
    top: 100%;
    display: none;
}
.dropdown-input .dropdown-item {
    padding: 1vh;
    cursor: pointer;
    font-size: 1.8vh;
}
.dropdown-input .dropdown-none-item {
    padding: 1vh;
    font-size: 1.8vh;
}
.dropdown-input .dropdown-item:hover {
    background-color: rgb(255 255 255 / 20%);
}
.dropdown-input-container:hover .dropdown-list-container {
    display: block;
}