.cburnett .cg-wrap piece.p-piece.white {
  background-image: url('../images/pieces/cburnett/Chess_plt45.svg');
}
.cburnett .cg-wrap piece.b-piece.white {
  background-image: url('../images/pieces/cburnett/Chess_blt45.svg');
}
.cburnett .cg-wrap piece.n-piece.white {
  background-image: url('../images/pieces/cburnett/Chess_nlt45.svg');
}
.cburnett .cg-wrap piece.r-piece.white {
  background-image: url('../images/pieces/cburnett/Chess_rlt45.svg');
}
.cburnett .cg-wrap piece.q-piece.white {
  background-image: url('../images/pieces/cburnett/Chess_qlt45.svg');
}
.cburnett .cg-wrap piece.k-piece.white {
  background-image: url('../images/pieces/cburnett/Chess_klt45.svg');
}
.cburnett .cg-wrap piece.c-piece.white {
  background-image: url('../images/pieces/cburnett/Chess_clt45.svg');
}
.cburnett .cg-wrap piece.m-piece.white {
  background-image: url('../images/pieces/cburnett/Chess_Mlt45.svg');
}
.cburnett .cg-wrap piece.g-piece.white {
  background-image: url('../images/pieces/cburnett/Chess_Glt45.svg');
}
.cburnett .cg-wrap piece.u-piece.white {
  background-image: url('../images/pieces/cburnett/Chess_Ult45.svg');
}
.cburnett .cg-wrap piece.z-piece.white {
  background-image: url('../images/pieces/cburnett/Chess_Zlt45.svg');
}
.cburnett .cg-wrap piece.a-piece.white {
  background-image: url('../images/pieces/cburnett/Chess_alt45.svg');
}
.cburnett .cg-wrap piece.d-piece.white {
  background-image: url('../images/pieces/cburnett/Chess_Dlt45.svg');
}
.cburnett .cg-wrap piece.f-piece.white {
  background-image: url('../images/pieces/cburnett/Chess_flt45.svg');
}
.cburnett .cg-wrap piece.s-piece.white {
  background-image: url('../images/pieces/cburnett/Chess_slt45.svg');
}
.cburnett .cg-wrap piece.w-piece.white {
  background-image: url('../images/pieces/cburnett/Chess_mlt45.svg');
}
.cburnett .cg-wrap piece.e-piece.white {
  background-image: url('../images/pieces/cburnett/Chess_elt45.svg');
}
.cburnett .cg-wrap piece.t-piece.white {
  background-image: url('../images/pieces/cburnett/Chess_tlt45.svg');
}
.cburnett .cg-wrap piece.l-piece.white {
  background-image: url('../images/pieces/cburnett/Chess_Cet45.svg');
}

.cburnett .cg-wrap piece.p-piece.black {
  background-image: url('../images/pieces/cburnett/Chess_pdt45.svg');
}
.cburnett .cg-wrap piece.b-piece.black {
  background-image: url('../images/pieces/cburnett/Chess_bdt45.svg');
}
.cburnett .cg-wrap piece.n-piece.black {
  background-image: url('../images/pieces/cburnett/Chess_ndt45.svg');
}
.cburnett .cg-wrap piece.r-piece.black {
  background-image: url('../images/pieces/cburnett/Chess_rdt45.svg');
}
.cburnett .cg-wrap piece.q-piece.black {
  background-image: url('../images/pieces/cburnett/Chess_qdt45.svg');
}
.cburnett .cg-wrap piece.k-piece.black {
  background-image: url('../images/pieces/cburnett/Chess_kdt45.svg');
}
.cburnett .cg-wrap piece.c-piece.black {
  background-image: url('../images/pieces/cburnett/Chess_cdt45.svg');
}
.cburnett .cg-wrap piece.m-piece.black {
  background-image: url('../images/pieces/cburnett/Chess_Mdt45.svg');
}
.cburnett .cg-wrap piece.g-piece.black {
  background-image: url('../images/pieces/cburnett/Chess_Gdt45.svg');
}
.cburnett .cg-wrap piece.u-piece.black {
  background-image: url('../images/pieces/cburnett/Chess_Udt45.svg');
}
.cburnett .cg-wrap piece.z-piece.black {
  background-image: url('../images/pieces/cburnett/Chess_Zdt45.svg');
}
.cburnett .cg-wrap piece.a-piece.black {
  background-image: url('../images/pieces/cburnett/Chess_adt45.svg');
}
.cburnett .cg-wrap piece.d-piece.black {
  background-image: url('../images/pieces/cburnett/Chess_Ddt45.svg');
}
.cburnett .cg-wrap piece.f-piece.black {
  background-image: url('../images/pieces/cburnett/Chess_fdt45.svg');
}
.cburnett .cg-wrap piece.s-piece.black {
  background-image: url('../images/pieces/cburnett/Chess_sdt45.svg');
}
.cburnett .cg-wrap piece.w-piece.black {
  background-image: url('../images/pieces/cburnett/Chess_mdt45.svg');
}
.cburnett .cg-wrap piece.e-piece.black {
  background-image: url('../images/pieces/cburnett/Chess_edt45.svg');
}
.cburnett .cg-wrap piece.t-piece.black {
  background-image: url('../images/pieces/cburnett/Chess_tdt45.svg');
}
.cburnett .cg-wrap piece.l-piece.black {
  background-image: url('../images/pieces/cburnett/Chess_Cdt45.svg');
}
