.merida .cg-wrap piece.p-piece.white {
  background-image: url('../images/pieces/merida/wP.svg');
}
.merida .cg-wrap piece.b-piece.white {
  background-image: url('../images/pieces/merida/wB.svg');
}
.merida .cg-wrap piece.n-piece.white {
  background-image: url('../images/pieces/merida/wN.svg');
}
.merida .cg-wrap piece.r-piece.white {
  background-image: url('../images/pieces/merida/wR.svg');
}
.merida .cg-wrap piece.q-piece.white {
  background-image: url('../images/pieces/merida/wQ.svg');
}
.merida .cg-wrap piece.k-piece.white {
  background-image: url('../images/pieces/merida/wK.svg');
}
.merida .cg-wrap piece.a-piece.white {
  background-image: url('../images/pieces/merida/wA.svg');
}
.merida .cg-wrap piece.c-piece.white {
  background-image: url('../images/pieces/merida/wC.svg');
}
.merida .cg-wrap piece.m-piece.white {
  background-image: url('../images/pieces/merida/wM.svg');
}
.merida .cg-wrap piece.f-piece.white {
  background-image: url('../images/pieces/merida/wF.svg');
}
.merida .cg-wrap piece.s-piece.white {
  background-image: url('../images/pieces/merida/wS.svg');
}
.merida .cg-wrap piece.e-piece.white {
  background-image: url('../images/pieces/merida/wE.svg');
}
.merida .cg-wrap piece.h-piece.white {
  background-image: url('../images/pieces/merida/wH.svg');
}
.merida .cg-wrap piece.l-piece.white {
  background-image: url('../images/pieces/merida/wL.svg');
}
.merida .cg-wrap piece.g-piece.white {
  background-image: url('../images/pieces/merida/wG.svg');
}
.merida .cg-wrap piece.w-piece.white {
  background-image: url('../images/pieces/merida/wW.svg');
}
.merida .cg-wrap piece.j-piece.white {
  background-image: url('../images/pieces/merida/wJ.svg');
}

.merida .cg-wrap piece.p-piece.black {
  background-image: url('../images/pieces/merida/bP.svg');
}
.merida .cg-wrap piece.b-piece.black {
  background-image: url('../images/pieces/merida/bB.svg');
}
.merida .cg-wrap piece.n-piece.black {
  background-image: url('../images/pieces/merida/bN.svg');
}
.merida .cg-wrap piece.r-piece.black {
  background-image: url('../images/pieces/merida/bR.svg');
}
.merida .cg-wrap piece.q-piece.black {
  background-image: url('../images/pieces/merida/bQ.svg');
}
.merida .cg-wrap piece.k-piece.black {
  background-image: url('../images/pieces/merida/bK.svg');
}
.merida .cg-wrap piece.a-piece.black {
  background-image: url('../images/pieces/merida/bA.svg');
}
.merida .cg-wrap piece.c-piece.black {
  background-image: url('../images/pieces/merida/bC.svg');
}
.merida .cg-wrap piece.m-piece.black {
  background-image: url('../images/pieces/merida/bM.svg');
}
.merida .cg-wrap piece.f-piece.black {
  background-image: url('../images/pieces/merida/bF.svg');
}
.merida .cg-wrap piece.s-piece.black {
  background-image: url('../images/pieces/merida/bS.svg');
}
.merida .cg-wrap piece.e-piece.black {
  background-image: url('../images/pieces/merida/bE.svg');
}
.merida .cg-wrap piece.h-piece.black {
  background-image: url('../images/pieces/merida/bH.svg');
}
.merida .cg-wrap piece.l-piece.black {
  background-image: url('../images/pieces/merida/bL.svg');
}
.merida .cg-wrap piece.g-piece.black {
  background-image: url('../images/pieces/merida/bG.svg');
}
.merida .cg-wrap piece.w-piece.black {
  background-image: url('../images/pieces/merida/bW.svg');
}
.merida .cg-wrap piece.j-piece.black {
  background-image: url('../images/pieces/merida/bJ.svg');
}


.merida.board9x10 .cg-wrap piece.a-piece.white {
  background-image: url('../images/pieces/merida/wS.svg');
}
.merida.board9x10 .cg-wrap piece.b-piece.white {
  background-image: url('../images/pieces/merida/wE.svg');
}
.merida.board9x10 .cg-wrap piece.c-piece.white {
  background-image: url('../images/pieces/merida/wCa.svg');
}
.merida.board9x10 .cg-wrap piece.a-piece.black {
  background-image: url('../images/pieces/merida/bS.svg');
}
.merida.board9x10 .cg-wrap piece.b-piece.black {
  background-image: url('../images/pieces/merida/bE.svg');
}
.merida.board9x10 .cg-wrap piece.c-piece.black {
  background-image: url('../images/pieces/merida/bCa.svg');
}