@font-face {
    font-family: "Mona Sans";
    src: url("../assets/fonts/Mona-Sans.woff2") format("woff2 supports variations"), url("../assets/fonts/Mona-Sans.woff2") format("woff2-variations");
    font-weight: 200 900;
    font-stretch: 75% 125%;
}
body {
    font-family: "Mona Sans";
    margin: 0;
    background: linear-gradient(to right, #0c0b19, #0b1830);
    color: white;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
#wrapper {
    margin: 125px 25px 125px 25px;
    display: flex;
    flex-direction: column;
    width: 600px;
}
.big-title {
    font-size: 30px;
    font-weight: 800;
    font-stretch: ultra-expanded;
    align-self: center;
    text-align: center;
}
.title {
    font-size: 25px;
    font-weight: 900;
    font-stretch: ultra-expanded;
    margin: 20px 0 0 0;
}
.small-paragraph {
    font-size: 15px;
    font-weight: 400;
    margin: 10px 0 10px 0;
}
.paragraph {
    font-size: 20px;
    font-weight: 400;
    margin: 10px 0 10px 0;
}
.center-text {
    text-align: center;
}
.greyed {
    color: #bababa;
}
.slim {
    font-weight: 300;
}
.extra-slim {
    font-weight: 200;
}
.gradient-text {
    text-shadow: 0px 3px 0px #000;
}