@font-face {
	font-family: 'Mona Sans';
	src:
		url('assets/fonts/Mona-Sans.woff2') format('woff2 supports variations'),
		url('assets/fonts/Mona-Sans.woff2') format('woff2-variations');
	font-weight: 200 900;
	font-stretch: 75% 125%;
}
body {
	font-family: Mona-Sans;
	margin: 0;
	background: linear-gradient(to right, #0c0b19, #0b1830);
	color: white;
	display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
#wrapper {
	margin: 10vh;
    display: flex;
    flex-direction: column;
	width: 50vh;
}
.big-title {
    font-size: 3vh;
    font-weight: 800;
    font-stretch: ultra-expanded;
	align-self: center;
}
.title {
	font-size: 2vh;
    font-weight: 900;
    font-stretch: ultra-expanded;
	margin: 2vh 0 0 0;
}
.small-paragraph {
	font-size: 1.5vh;
    font-weight: 400;
	margin: 1vh 0 1vh 0;
}
.paragraph {
	font-size: 1.7vh;
    font-weight: 400;
	margin: 1vh 0 1vh 0;
}
.center-text {
	text-align: center;
}
.greyed {
	color: #bababa;
}
.slim {
	font-weight: 300;
}
.extra-slim {
	font-weight: 200;
}
.gradient-text {
    background: linear-gradient(to right, #b59fff, #516bcb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}